<div id="game-id" data-game-id="<%= @game_id %>" data-player-id="<%= @player_id %>"></div>
<div id="elm-main"></div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/game.js") %>"></script>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
