<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Chess Town" %></h1>
  <p>have you got what it takes to throw down with<br/> the wrinkliest brains on the 'net?</p>
  <%= button("New Game", to: "/chess") %>
</section>

